<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063421223697-0clvjv5abqslkha3o8rnjhnp9rpf0r77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063421223697-0clvjv5abqslkha3o8rnjhnp9rpf0r77</string>
	<key>API_KEY</key>
	<string>AIzaSyBnKTHcbRL8_Qpxd17ZzP93beZa7LkwV9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1063421223697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KiraHeisenberg.WildMan</string>
	<key>PROJECT_ID</key>
	<string>wildman-c4b85</string>
	<key>STORAGE_BUCKET</key>
	<string>wildman-c4b85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063421223697:ios:4144a1fd8f3660b1eb22b0</string>
</dict>
</plist>